<%= form_for [@product, @product_review], :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= field_set_tag "Отзыв" do %>
    <dl>
      <dt>
        <%= f.label :author, "Имя" %>
      </dt>
      <dd>
        <%= f.text_field :author, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :text, "Текст отзыва" %>
      </dt>
      <div class="r_text">
          <%= @product_review.text %>
      </div>
      <dd>
        <%= f.text_area :text, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :pro, "Достоинства товара" %>
      </dt>
      <div class="r_text">
          <%= @product_review.pro %>
      </div>
      <dd>
        <%= f.text_area :pro, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :contra, "Недостатки товара" %>
      </dt>
      <div class="r_text">
          <%= @product_review.contra %>
      </div>
      <dd>
        <%= f.text_area :contra, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :grade, "Общая оценка" %>
      </dt>
      <dd>
        <%= f.collection_select :grade, [-2, -1, 0, 1, 2], :to_s, :to_s, {:include_blank => false} %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :grade, "Комфорт" %>
      </dt>
      <dd>
        <%= f.collection_select :convenience_grade, [-2, -1, 0, 1, 2], :to_s, :to_s, {:include_blank => false} %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :grade, "Цена" %>
      </dt>
      <dd>
        <%= f.collection_select :price_grade, [-2, -1, 0, 1, 2], :to_s, :to_s, {:include_blank => false} %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :grade, "Качество" %>
      </dt>
      <dd>
        <%= f.collection_select :quality_grade, [-2, -1, 0, 1, 2], :to_s, :to_s, {:include_blank => false} %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :public, "Показывать?" %>
      </dt>
      <dd>
        <%= f.check_box :public %>
      </dd>
    </dl>
  <% end %>
  <p class="submit">
    <% unless @product_review.new_record? %>
      <span class="right">
        <%= link_to "Удалить", [@product, @product_review], :class => 'button purple', :method => :delete, :data => {:confirm => "Вы уверены что хотите удалить этот отзыв?"} %>
      </span>
    <% end %>
    <%= f.submit "Сохранить отзыв", :class => 'button green' %>
    <%= link_to "Отмена", :product_product_reviews, :class => 'button' %>
  </p>
<% end %>
