<div class="table">
<table class="data">
  <thead>
    <tr>
      <th width="10%">Автор</th>
      <th width="40%">Текст</th>
      <th width="25%">Преимущества</th>
      <th width="25%">Недостатки</th>
    </tr>
  </thead>
  <tbody>
    <% if reviews.empty? %>
      <tr class="empty">
        <td colspan="4">У товара нет отзывов.</td>
      </tr>
    <% else %>
      <% for review in reviews %>
        <tr class="<%= "strong" if review.public %>">
          <td>
            <%= link_to review.author, edit_product_product_review_path(:id => review.id) %>
          </td>
          <td>
            <%= review.text %>
          </td>
          <td>
            <%= review.pro %>
          </td>
          <td>
            <%= review.contra %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
