<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= @page_title %> - Shoppe</title>
    <%= stylesheet_link_tag 'shoppe/application' %>
    <%= javascript_include_tag 'shoppe/application' %>
    <%= csrf_meta_tags %>
    <script>
      
      window.Shoppe = {}
      window.Shoppe.currencyUnit = "<%= h Shoppe.settings.currency_unit %>";

    </script>
  </head>
  <body>
    <nav class="sidebar">
      <header class="logo">
        <h1>
          <%= link_to Shoppe.settings.store_name, root_path %>
        </h1>
      </header>
      <p class="logged">
        Logged in as <%= @current_user.full_name %>
      </p>
      <ul>
        <% for item in Shoppe::NavigationManager.find(:admin_primary).items %>
          <li>
            <%= navigation_manager_link item %>
          </li>
        <% end %>
        <li>
          <%= link_to I18n.translate("shoppe.navigation.admin_primary.logout"), [:logout], :method => :delete %>
        </li>
      </ul>
    </nav>
    <header class="main">
      <%= yield :header %>
    </header>
    <div id="content">
      <%= display_flash %>
      <section class="main">
        <%= yield %>
      </section>
    </div>
    <footer>
      <p class="store">
        <%= link_to "â† " + I18n.translate("shoppe.navigation.admin_primary.goto"), '/' %>
      </p>
    </footer>
  </body>
</html>
