<%= form_for @product, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= field_set_tag I18n.t("shoppe.products.product_information") do %>
    <dl>
      <dt>
        <%= f.label :product_category_id, I18n.t("shoppe.products.product_category") %>
      </dt>
      <dd>
        <%= f.collection_select :product_category_id, Shoppe::ProductCategory.ordered, :id, :name, {:include_blank => true}, {:class => 'chosen'} %>
      </dd>
    </dl>
    <div class="splitContainer">
      <dl class="third">
        <dt>
          <%= f.label :name, I18n.t("shoppe.words.name") %>
        </dt>
        <dd>
          <%= f.text_field :name, :class => 'text focus' %>
        </dd>
      </dl>
      <dl class="third">
        <dt>
          <%= f.label :permalink, "URL" %>
        </dt>
        <dd>
          <%= f.text_field :permalink, :class => 'text' %>
        </dd>
      </dl>
      <dl class="third">
        <dt>
          <%= f.label :sku, 'SKU' %>
        </dt>
        <dd>
          <%= f.text_field :sku, :class => 'text' %>
        </dd>
      </dl>
    </div>
    <dl>
      <dt>
        <%= f.label :title, "Meta Title" %>
      </dt>
      <dd>
        <%= f.text_field :title, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :description, I18n.t("shoppe.words.description") %>
      </dt>
      <dd>
        <%= f.text_area :description, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :short_description, I18n.t("shoppe.words.short_description") %>
      </dt>
      <dd>
        <%= f.text_area :short_description, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :keywords, "Meta Keywords" %>
      </dt>
      <dd>
        <%= f.text_area :keywords, :class => 'text' %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= f.label :in_the_box, I18n.t("shoppe.products.in_box") %>
      </dt>
      <dd>
        <%= f.text_area :in_the_box, :class => 'text' %>
      </dd>
    </dl>
  <% end %>
  <%= field_set_tag I18n.t("shoppe.words.attributes") do %>
    <div class="margin">
      <table class="productAttributes">
        <thead>
          <tr>
            <td>
              <%= I18n.t("shoppe.words.name") %>
            </td>
            <td>
              <%= I18n.t("shoppe.words.value") %>
            </td>
            <td class="searchable">
              <%= I18n.t("shoppe.words.searchable") + "?" %>
            </td>
            <td class="searchable">
              <%= I18n.t("shoppe.words.public") + "?" %>
            </td>
            <td class="remove">
              <%= I18n.t("shoppe.words.remove") %>
            </td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr class="template" style="display:none;">
            <td>
              <%= text_field_tag 'product[product_attributes_array][][key]', '', :placeholder => 'Name' %>
            </td>
            <td>
              <%= text_field_tag 'product[product_attributes_array][][value]', '', :placeholder => 'Value' %>
            </td>
            <td class="searchable">
              <%= check_box_tag 'product[product_attributes_array][][searchable]', '1' %>
            </td>
            <td class="searchable">
              <%= check_box_tag 'product[product_attributes_array][][public]', '1' %>
            </td>
            <td class="remove">
              <%= link_to I18n.t("shoppe.words.remove"), '#', :class => 'button button-mini purple' %>
            </td>
            <td class="handle"></td>
          </tr>
          <% for attribute in @product.product_attributes %>
            <tr>
              <td>
                <%= text_field_tag 'product[product_attributes_array][][key]', attribute.key, :placeholder => 'Name' %>
              </td>
              <td>
                <%= text_field_tag 'product[product_attributes_array][][value]', attribute.value, :placeholder => 'Value' %>
              </td>
              <td class="searchable">
                <%= check_box_tag 'product[product_attributes_array][][searchable]', '1', attribute.searchable? %>
              </td>
              <td class="searchable">
                <%= check_box_tag 'product[product_attributes_array][][public]', '1', attribute.public? %>
              </td>
              <td class="remove">
                <%= link_to I18n.t("shoppe.words.remove"), '#', :class => 'button button-mini purple' %>
              </td>
              <td class="handle"></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="addAttribute">
        <%= link_to I18n.t("shoppe.products.add_attribute"), '#', :data => {:behavior => 'addAttributeToAttributesTable'}, :class => 'button button-mini green' %>
      </p>
    </div>
  <% end %>
  <%= field_set_tag "Attachments" do %>
    <div>
      <dl>
        <dt>
          <%= f.label :image, "Изображение" %>
        </dt>
        <dd>
        <%= image_tag @product.image_url, :width => "150px" %>
          <p>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
          </p>
        </dd>
      </dl>
    </div>
  <% end %>
    <%= field_set_tag "Pricing" do %>
      <div class="splitContainer">
        <dl class="third">
          <dt>
            <%= f.label :price %>
          </dt>
          <dd>
            <div class="moneyInput">
              <div class="currency">
                <%= Shoppe.settings.currency_unit.html_safe %>
              </div>
              <%= f.text_field :price, :class => 'text' %>
            </div>
          </dd>
        </dl>
        <dl class="third">
          <dt>
            <%= f.label :cost_price %>
          </dt>
          <dd>
            <div class="moneyInput">
              <div class="currency">
                <%= Shoppe.settings.currency_unit.html_safe %>
              </div>
              <%= f.text_field :cost_price, :class => 'text' %>
            </div>
          </dd>
        </dl>
        <dl class="third">
          <dt>
            <%= f.label :tax_rate_id %>
          </dt>
          <dd>
            <%= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => "No tax"}} %>
          </dd>
        </dl>
      </div>
    <% end %>
  <%= field_set_tag "Website Properties" do %>
    <div class="splitContainer">
      <dl class="half">
        <dt>
          <%= f.label :active, "Опубликовать?" %>
        </dt>
        <dd class="checkbox">
          <%= f.check_box :active %>
          <%= f.label :active, "Опубликовать?" %>
        </dd>
      </dl>
      <dl class="half">
        <dt>
          <%= f.label :featured, "На главной?" %>
        </dt>
        <dd class="checkbox">
          <%= f.check_box :featured %>
          <%= f.label :featured, "Разместить этот товар на главной странице" %>
        </dd>
      </dl>
    </div>
  <% end %>
  <p class="submit">
    <% unless @product.new_record? %>
      <span class="right">
        <%= link_to "Delete", @product, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this product?"} %>
      </span>
    <% end %>
    <%= f.submit I18n.t("shoppe.words.save"), :class => 'button green' %>
    <%= link_to I18n.t("shoppe.words.cancel"), :products, :class => 'button' %>
  </p>
<% end %>
