<div class="table">
  <table class="data">
    <thead>
      <tr>
        <th width="20%">Артикул</th>
        <th width="40%">Название</th>
        <th width="25%">Цена</th>
        <th width="15%">Отзывы</th>
      </tr>
    </thead>
    <tbody>
      <% if products.empty? %>
        <tr class="empty">
          <td colspan="4">Нет товаров.</td>
        </tr>
      <% else %>
        <% for category, products in products %>
          <tr>
            <th colspan="4">
              <%= category.name %>
            </th>
          </tr>
          <% for product in products %>
            <tr>
              <td>
                <%= product.sku %>
              </td>
              <td>
                <%= link_to product.name, [:edit, product] %>
              </td>
              <td>
                <%= product.price %>
              </td>
              <td>
                <%= link_to product.reviews.count, product_product_reviews_path(:product_id => product.id) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
