<div class="table">
  <table class="data">
    <thead>
      <tr>
        <th width="20%">SKU</th>
        <th width="40%">Name</th>
        <th width="25%">Price/Variants</th>
        <th width="15%">Reviews</th>
      </tr>
    </thead>
    <tbody>
      <% if products.empty? %>
        <tr class="empty">
          <td colspan="4">No products to display.</td>
        </tr>
      <% else %>
        <% for category, products in products %>
          <tr>
            <th colspan="4">
              <%= category.name %>
            </th>
          </tr>
          <% for product in products %>
            <tr>
              <td>
                <%= product.sku %>
              </td>
              <td>
                <%= link_to product.name, [:edit, product] %>
              </td>
              <% if product.has_variants? %>
                <td class="table" colspan="2">
                  <table class="data">
                    <% for variant in product.variants %>
                      <tr>
                        <td width="40%">
                          <%= link_to variant.name, edit_product_variant_path(product, variant) %>
                        </td>
                        <td width="30%">
                          <%= number_to_currency variant.price %>
                        </td>
                        <td width="30%">
                          <% if variant.stock_control? %>
                            <span class="float-right">
                              <%= link_to "Edit", stock_level_adjustments_path(:item_type => variant.class, :item_id => variant.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'} %>
                            </span>
                            <%= boolean_tag(variant.in_stock?, nil, :true_text => variant.stock, :false_text => 'No stock') %>
                          <% else %>
                            &#8734;
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </td>
              <% else %>
                <td>
                  <%= number_to_currency product.price %>
                </td>
                <td>
                  <% if product.stock_control? %>
                    <span class="float-right">
                      <%= link_to "Edit", stock_level_adjustments_path(:item_type => product.class, :item_id => product.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'} %>
                    </span>
                    <%= boolean_tag(product.in_stock?, nil, :true_text => product.stock, :false_text => 'No stock') %>
                  <% else %>
                    &#8734;
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
