= field_set_tag I18n.t("shoppe.orders.billing_address") do
  .splitContainer
    %dl.third
      %dt= f.label :first_name, I18n.t("shoppe.words.first_name")
      %dd= f.text_field :first_name, :class => 'focus text'
    %dl.third
      %dt= f.label :last_name, I18n.t("shoppe.words.last_name")
      %dd= f.text_field :last_name, :class => 'text'
  %dl
    %dt= f.label :billing_address1, I18n.t("shoppe.words.address")
    %dd.space= f.text_field :billing_address1, :class => 'text'
    %dd.space= f.text_field :billing_address2, :class => 'text'
  .splitContainer
    %dl.third
      %dt= f.label :email_address, I18n.t("shoppe.words.email")
      %dd= f.text_field :email_address, :class => 'text'
    %dl.third
      %dt= f.label :phone_number, I18n.t("shoppe.words.telephone")
      %dd= f.text_field :phone_number, :class => 'text'
    %dl.third
      %dt= f.label :separate_delivery_address, I18n.t("shoppe.orders.delivery_address")
      %dd.checkbox
        = f.check_box :separate_delivery_address
        = f.label :separate_delivery_address, I18n.t("shoppe.words.add") + " " + I18n.t("shoppe.orders.delivery_address") + "?"

= field_set_tag I18n.t("shoppe.orders.delivery_address"), :class => 'delivery' do
  %dl
    %dt= f.label :delivery_name, I18n.t("shoppe.orders.delivery_name")
    %dd= f.text_field :delivery_name, :class => 'text'
  %dl
    %dt= f.label :delivery_address1, I18n.t("shoppe.words.address")
    %dd.space= f.text_field :delivery_address1, :class => 'text'
    %dd.space= f.text_field :delivery_address2, :class => 'text'
