.details
  .left
    %dl
      %dt= I18n.translate("shoppe.words.name")
      %dd= @order.full_name
      %dt #{I18n.translate("shoppe.words.billing")}#{@order.separate_delivery_address? ? '' : "/" + I18n.translate("shoppe.words.delivery")} #{I18n.translate("shoppe.words.address")}
      %dd= @order.billing_address1
      %dd= @order.billing_address2
      - if @order.separate_delivery_address?
        %dt #{I18n.translate("shoppe.words.delivery")} #{I18n.translate("shoppe.words.address")}
        %dd= @order.delivery_name
        %dd= @order.delivery_address1
        %dd= @order.delivery_address2
      %dt= I18n.translate("shoppe.words.email")
      %dd= mail_to @order.email_address
  .right
    %dl
      %dt= I18n.translate("shoppe.words.telephone")
      %dd= @order.phone_number
      %dt= I18n.translate("shoppe.words.weight")
      %dd= number_to_weight @order.total_weight
      - if @order.received?
        %dt= I18n.t("shoppe.orders.build_time")
        %dd= distance_of_time_in_words(@order.created_at, @order.received_at)
      - if @order.invoiced?
        %dt Invoice Number
        %dd= @order.invoice_number
      %dt Order Balance
      %dd= boolean_tag @order.paid_in_full?, nil, :true_text => number_to_currency(@order.balance), :false_text => number_to_currency(@order.balance)
    - if @order.accepted? && !@order.shipped?
      = form_tag [:ship, @order] do
        %dl.form
          %dt.padding= label_tag 'consignment_number', 'Consignment Number'
          %dd= text_field_tag 'consignment_number', '', :class => 'text'
        %dl.form
          %dd= submit_tag "Mark as shipped", :class => 'button green button-mini'
    
    - unless @order.accepted? || @order.rejected?
      %dl.form
        %dd
          = link_to "Accept", [:accept, @order], :method => :post, :class => 'button green'
          = link_to "Reject", [:reject, @order], :method => :post, :class => 'button purple'
