- @page_title = I18n.translate("shoppe.orders.one_edit") + ' #' + @order.number

= content_for :header do
  %p.buttons
    = link_to I18n.translate("shoppe.orders.one_back"), @order, :class => 'button grey'
  %h2.orders #{I18n.translate("shoppe.orders.one_edit")} <b>##{@order.number}</b>

= form_for @order, :html => {:class => 'orderForm'} do |f|
  = f.error_messages
  = render 'form', :f => f
  
  = field_set_tag I18n.translate("shoppe.words.notes") do
    %dl
      %dd= f.text_area :notes, :class => 'text'

  = field_set_tag I18n.translate("shoppe.orders.ordered_products"), :class => 'padded' do
    = render 'order_items_form', :f => f

  %p.submit
    = f.submit I18n.t("shoppe.words.save") + " " + I18n.t("shoppe.orders.one"), :class => 'button green'
    = link_to I18n.t("shoppe.words.cancel"), @order, :class => 'button'
